body {
    background-color: black;
    color: white;
    font-family: 'Roboto Serif', sans-serif;
}
.gridContainer{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 100%;
}    
.contactHeader {
    grid-column: 1;
    grid-row: 1;
    background-color: #2BCEC1;
    font-size: 2em;
    text-align: center;
}
.email {
    padding-top: 5%;
    grid-column: 1;
    grid-row: 2;
}
.date {
    grid-column: 1;
    grid-row: 3;
}
.checkboxes {
    grid-column: 1;
    grid-row: 4;
}
.radioButtons {
    grid-column: 1;
    grid-row: 5;
}
.comments {
    grid-column: 1;
    grid-row: 6
}
button {
    width:300px;
    height: 50px;
}
textarea {
    resize: none;
}
@media only screen and (max-width: 576px) {
    body {
      background-color: white;
      color: black;
    }
    .gridContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}